@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(232, 233, 235);
}

.todo-list {
  width: 400px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.to-do {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%
}

.move {
  cursor: move;
  caret-color: rgb(79, 78, 78);
  font-size: 15px;
}

.to-do li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  font-size: 15px;
  color: rgb(146, 145, 145);
}

.span-two {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}

.description {
  align-items: flex-start;
  padding-left: 10px;
}

.todo-input {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 45px;
  border: 0;
  background-color: #f9f9f9;
  color: rgb(146, 145, 145);
  font-style: italic;
  font-size: 16px;
}

.todo-input:hover,
.todo-input:focus {
  outline: none;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: rgb(146, 145, 145);
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.clear-button {
  text-decoration: none;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  color: rgb(146, 145, 145);
  background-color: rgb(232, 233, 235);
  border: 0;
  padding-bottom: 20px;
  cursor: pointer;
}

.todo-clear {
  background-color: rgb(232, 233, 235);
  height: 100%;
}
